<header class='top-page-header'>
  <div class="left-contents">
    <ul class="left-list">
      <li><%= link_to image_tag("secondhands-logo.png", class: "secondhands-icon"), "/" %></li>
      <li><a href= 'users/sign_in', class="btn-square">ログイン</a></li>
      <li><a href= 'users/sign_up', class="btn-square-2">新規登録</a></li>
  </div>
  <div class="right-contents">
    <div class="right-list">
      <%= link_to 'こんにちは ゲストさん', "#", class: "user-nickname" %>
    </div>
  </div>
</header>