a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* ログイン後の検索 */
.item-search {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  background-color: rgb(226, 217, 217);
}
/* //ログイン後の検索 */

/* ログイン後の商品一覧 */
.item-contents {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0; 
}

.item-content>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.item-no-message {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 40vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-info-sub {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
}
/* //ログイン後の商品一覧 */


.secondhands-logo {
  width: 100vw;
}

/* SECONDHANDSの特徴 */
.feature-contents {
  padding: 5vh 10vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: red;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-pict {
  width: 20vw;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}
/* //SECONDHANDSの特徴 */

.purchase-btn {
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:999;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 0 5px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
}

.purchase-btn:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #ffcc75;
}
