.items-sell-contents {
  background-color: burlywood;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.items-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.items-sell-main {
  background-color: white;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.items-sell-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}
/* /共通 */

/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}
/* /商品画像 */

/* 商品名 */
.new-items {
  padding: 2vh 0;
}
.item-text {
  width: 100%;
  padding: 0 8px;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 16px;
  resize: none;
  
}
/* /商品名 */
/* 商品価格 */
.sell-price {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
  flex-wrap: wrap;
}

.price-space {
  display: flex;
  justify-content: space-between;
}

.sell-yen {
  font-size: 18px;
  padding: 10px 10px 10px 0;
}

.price-input {
  height: 40px;
  text-align: right;
  padding-right: 10px;
}
/* /商品価格 */

/* 年度・受講期以下の入力欄 */
.active-select {
  width: 50%;
  margin: top;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
/* /年度・受講期以下の入力欄 */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 16px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}
/* /下部ボタン */